In [4]:
[lambda x: x*8 for x in [1,2,3]]

[<function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>]

In [5]:
[x*8 for x in [1,2,3]]

[8, 16, 24]

In [6]:
a = [5,6,7]

In [9]:
 = enumerate(a)

In [11]:
    my_list = [1, 2, 3, 1, 4, 2, 5]

In [16]:
set(my_list)

{1, 2, 3, 4, 5}

In [17]:
set1 = {5,6,9}
set2 = {5,1,2}

In [27]:
x = set1.pop

In [26]:
set1

{5, 6, 9}

In [29]:
for i in set1:
    print(i)

9
5
6

In [30]:
newset = {}

AttributeError: 'dict' object has no attribute 'add'

In [32]:
set_1 = { "Python", "C", "Javascript" }
set_2 = { "Bash", "C", "Ruby", "Perl" }

In [45]:
(set_1 | set_2) - (set_1 & set_2)

{'Bash', 'Javascript', 'Perl', 'Python', 'Ruby'}

In [46]:
a_dictionary = { 'language': "C", 'number': 13, 'track': "Low level" }

In [47]:
len(a_dictionary)

3

In [48]:
a = { 'language': "C", 'Number': 89, 'track': "Low level", 'ids': [1, 2, 3] }

In [52]:
sorted(a)

['Number', 'ids', 'language', 'track']

In [53]:
a

{'language': 'C', 'Number': 89, 'track': 'Low level', 'ids': [1, 2, 3]}

In [65]:
a = { 'language': "C", 'Number': 89, 'track': "Low", 'ids': [1, 2, 3] }

In [56]:
a_dictionary.clear()

In [66]:
a

{'language': 'C', 'Number': 89, 'track': 'Low', 'ids': [1, 2, 3]}

In [68]:
del a['language']

In [69]:
a

{'Number': 89, 'track': 'Low', 'ids': [1, 2, 3]}

In [70]:
del a['ahmed']

KeyError: 'ahmed'

In [73]:
l = a.items()

In [84]:
x = a.items()

In [87]:
list(x)

TypeError: 'dict_items' object is not callable

In [88]:
w = {"house": "Haus", "cat": "", "red": "rot"}
items_view = w.items()
items = list(items_view)
items

TypeError: 'dict_items' object is not callable

In [89]:
a

{'Number': 89, 'track': 'Low', 'ids': [1, 2, 3]}

In [98]:
for key, val in a.items():
    print(key)
    print(val)

Number
89
track
Low
ids
[1, 2, 3]

In [99]:
a_dictionary = {'John': 12, 'Bob': 14, 'Mike': 14, 'Molly': 16, 'Adam': 10}

In [103]:
max(a_dictionary.values())

16

In [105]:
a_dictionary

{'John': 12, 'Bob': 14, 'Mike': 14, 'Molly': 16, 'Adam': 10}

In [106]:
a_dictionary.

TypeError: dict.popitem() takes no arguments (1 given)

In [107]:
a = 'ahmed'

In [108]:
type(a)

str

In [111]:
type(a) == str

True

In [114]:
a = 'ahm'
a[0:5]

'ahm'

In [115]:
temp = a[0:3]

In [116]:
temp

'ahm'

In [124]:
a = a[:-1]

In [125]:
a

''

In [130]:
a = 'ahmed'

In [131]:
a[2:]

'med'

In [133]:
thousands = {'M':1000,
                 'MM':2000,
                 'MMM':3000}

In [134]:
res = 0
res = res + thousands['M']

In [136]:
res

1000

In [137]:
roman_string = "MMM"

In [138]:
temp_str = roman_string[0:4]

In [139]:
temp_str

'MMM'

In [140]:
res = res + thousands[temp_str]

In [141]:
print(res)

4000